<h1>Balance amount:
<form type="text" name="account"> 
</h1>

<form action="atm"" method="post">
  <select name="option"> 
    <option value="">請選擇功能項目</option>
    <option value="plus">+ 存款</option>
    <option value="minus">- 提款</option>
  </select> 
  <input type="text" name="amount" placeholder="請輸入金額">
  <input type="submit" value="確認">
  </form>